.page {
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    flex: 1;
    display: flex;
    overflow: auto;
    justify-content: center;
    text-align: center;
}

.passage {
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 1em;
    line-height: 1.75;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    flex: 1;
}

.passage-element {
    display: inline;
}

.passage img,
.passage video {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}