.page {
    font-size: 16px;
    justify-content: center;
    text-align: center;
    max-height: 100vh;
    overflow-y: auto;
}

.passage {
    margin: 2em 1em 1em 1em;
    padding-bottom: 5em;
    line-height: 1.75;
    min-height: 100vh;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-word;
    flex: 1;
}

.passage-element {
    display: inline;
}

.passage img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.passage video {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.passage-enter {
    opacity: 0.01;
}

.passage-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.passage-exit {
    opacity: 1;
}
.passage-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.game-link {
    color: #1c1d35;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

.game-link:hover {
    color: rgba(28, 29, 53, 0.45);
}
