@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-popups/styles/material.css";
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.row>* {
    padding: 0;
}

.row {
    --bs-gutter-x: 0;
}

.container, .container-fluid {
    padding: 0;
    --bs-gutter-x: 0;
}

.App {
    height: 100%;
    min-height: 100%;
}

.side-menu-control-btn {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0.2em 0.5em;
    font-weight: bold;
    font-size: 120%;
}

.main-menu {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.main-menu div {
    align-self: center;
    cursor: pointer;
}

.main-menu div:hover {
    color: #646464;
}

.save-item-wrapper span {
    padding-left: 10px;
}

.save-item-wrapper .button {
    cursor: pointer;
}

.save-item-wrapper .disabled-button {
    cursor: default;
    color: #828282;
}

.save-item-wrapper .button:hover {
    color: #828282;
}
